@import url("https://fonts.googleapis.com/css?family=Heebo:100,200,300,400,500,600,700,800,900");
* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Heebo", sans-serif;
  background-color: #fff;
  color: #2c2d30; }

.route-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 5px;
  text-decoration: none;
  color: black;
  z-index: 100; }

.noti-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 1s; }
  .noti-container .success {
    color: blue; }
  .noti-container .error {
    color: red; }

.loader {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4d394b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  opacity: 1; }

.loader_hide {
  opacity: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.signin-background {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f9f9f9; }
  .signin-background .signin-container {
    padding: 32px;
    display: flex;
    width: 60%;
    height: auto;
    background-color: #fff;
    color: #2c2d30;
    border: 1px solid #e8e8e8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex-direction: column;
    align-items: center; }
    .signin-background .signin-container .signin-card {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .signin-background .signin-container .signin-card .username-input, .signin-background .signin-container .signin-card .password-input {
        border: 1px solid #a0a0a2;
        color: #2c2d30;
        padding: 12px;
        height: auto;
        width: 100%;
        font-size: 18px;
        width: 94%;
        margin-bottom: 8px;
        border-radius: 4px; }
        .signin-background .signin-container .signin-card .username-input:focus, .signin-background .signin-container .signin-card .password-input:focus {
          outline-color: #2c2d30;
          outline-width: 0px;
          box-shadow: none;
          color: #2c2d30; }
      .signin-background .signin-container .signin-card .signin-button {
        box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
        width: 100%;
        margin-top: 21px;
        margin-bottom: 21px;
        background-color: #008952;
        border-radius: 4px;
        color: white;
        padding: 14px 32px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer; }

.chatroom-container {
  width: 100%;
  height: 100%;
  display: flex; }
  .chatroom-container .channel-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4d394b;
    background-attachment: scroll;
    color: #2c2d30;
    font-size: 16px; }
    .chatroom-container .channel-container .users-profile {
      height: 70px;
      padding: 15px; }
      .chatroom-container .channel-container .users-profile .team-name {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        color: white;
        font-weight: 500; }
      .chatroom-container .channel-container .users-profile .users-name {
        color: #ab9ba9; }
    .chatroom-container .channel-container .dm-contact-list .header {
      padding: 15px;
      color: #cac4c9;
      font-weight: 400;
      font-size: 18px; }
    .chatroom-container .channel-container .dm-contact-list .contact {
      padding: 0 15px;
      cursor: pointer;
      position: relative;
      width: 100%;
      display: flex;
      color: #cac4c9;
      align-items: center; }
      .chatroom-container .channel-container .dm-contact-list .contact:hover {
        background-color: #3E313C; }
      .chatroom-container .channel-container .dm-contact-list .contact .status {
        font-size: 10px;
        line-height: 26px;
        margin-right: 7px;
        color: #38978D; }
      .chatroom-container .channel-container .dm-contact-list .contact .name {
        line-height: 26px; }
      .chatroom-container .channel-container .dm-contact-list .contact .notification {
        position: absolute;
        background-color: #DC5960;
        color: #fff;
        font-size: 12px;
        height: 18px;
        padding: 0px 7px;
        border-radius: 16px;
        right: 15px; }
    .chatroom-container .channel-container .dm-contact-list .inactive .status, .chatroom-container .channel-container .dm-contact-list .inactive .name {
      color: #cac4c9;
      opacity: 0.5; }
  .chatroom-container .content-container {
    position: relative;
    width: 80%;
    height: 100%;
    color: #2c2d30;
    display: flex;
    flex-direction: column; }
    .chatroom-container .content-container .chat-header {
      height: 70px;
      padding: 15px;
      color: #717274;
      box-shadow: inset 0 0 0 1px #e8e8e8; }
      .chatroom-container .content-container .chat-header .chat-name {
        font-size: 18px;
        font-weight: 600; }
      .chatroom-container .content-container .chat-header .chat-status {
        font-size: 14px;
        color: #38978D; }
      .chatroom-container .content-container .chat-header .chat-away {
        color: #717274;
        opacity: 0.7; }
    .chatroom-container .content-container .chat-content-list {
      font-size: 15px;
      flex-direction: column;
      padding: 15px;
      overflow-y: scroll;
      height: calc( 100% - 70px - 2.5% - 44px); }
      .chatroom-container .content-container .chat-content-list .msg-item {
        padding: 6px 0; }
        .chatroom-container .content-container .chat-content-list .msg-item .msg-pic {
          float: left;
          margin: 0 10px 0 0;
          border-radius: 3px;
          height: 36px;
          width: 36px;
          display: inline-block; }
        .chatroom-container .content-container .chat-content-list .msg-item .msg-row {
          display: inline-block; }
        .chatroom-container .content-container .chat-content-list .msg-item .msg-header {
          display: block; }
          .chatroom-container .content-container .chat-content-list .msg-item .msg-header .msg-name {
            display: inline-block;
            color: #2c2d30;
            font-weight: 500; }
          .chatroom-container .content-container .chat-content-list .msg-item .msg-header .msg-time {
            display: inline-block;
            color: #717274;
            font-size: 12px; }
        .chatroom-container .content-container .chat-content-list .msg-item .msg-content {
          display: inline-block;
          font-weight: 400; }
    .chatroom-container .content-container .send-box {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 2.5%;
      left: 2.5%;
      width: 95%;
      padding: 0px;
      border-radius: 6px;
      height: 44px;
      flex-wrap: wrap; }
      .chatroom-container .content-container .send-box .send-content {
        padding-left: 10px;
        border: 2px solid #717274;
        border-radius: 6px 0 0 6px;
        height: auto;
        font-size: 18px;
        width: 94%; }
        .chatroom-container .content-container .send-box .send-content:focus {
          outline: 0;
          box-shadow: none;
          color: #2c2d30; }
      .chatroom-container .content-container .send-box .send-button {
        color: #717274;
        border: 2px solid #717274;
        border-radius: 0 6px 6px 0;
        height: 44px;
        width: 6%;
        font-size: 25px; }

/*# sourceMappingURL=style.css.map */
